/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #525ddc,
  secondary: #993350,
  tertiary: #993350,
  light: #eee,
  dark: #333
);

$link-color: lighten(theme-color(tertiary), 10%);
$enable-gradients: true;
$spacer: 1.2rem;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
