/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary:   #4b2d73;
$secondary: #882d61;
$tertiary:  #2e4272;
$light:     #eee;
$dark:      #333;

$theme-colors: (
  primary:   $primary,
  secondary: $secondary,
  tertiary:  $tertiary,
  light:     $light,
  dark:      $dark
);

$link-color: lighten($tertiary, 10%);
$enable-gradients: true;
$spacer: 1.2rem;

$font-family-display:    "Sansita Swashed", serif;
$font-family-sans-serif: "Open Sans", sans-serif;
$headings-font-family:   $font-family-display;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;
